body {
    color: #fff;
    font-size: 2em;
    /*background-image: url("img/cinema1.jpg")!important;*/
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.baner {
    font-size: 3em!important;
}

.title {
    color: #129378;
}

header a {
    padding-right: 100px!important;
    padding-left: 50px!important;
}

.cont {
    color: #fff;
}

.seans {
    font-size: 2.5em;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #129378;
    font-size: 1.1rem;
    text-align: right;
    padding-right: 50px!important;
}

a {
    text-decoration: none;
    color: #fff;
}

.loginPanel {
    border: 2px solid white;
    border-radius: 20px;
    font-size: 0.85em;
    background-color: #129378;
    height: 70px;
    padding-top: 10px;
}

.login:hover {
    cursor: pointer;
    background-color: #129378;
} 

.loginInput {
    border-radius: 20px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    border: 2px solid #fff;
    padding-left: 20px;
}

    .loginInput:focus {
        outline: none;
    }

.loginButton {
    background-color: #fff;
    color: #000;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 20px;
    font-weight: bold;
}

.registerInput {
    width: 300px!important;
}